In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import metrics
from env import host, user, password, get_db_url
import acquire
pd.set_option('display.max_rows', None)
import dtale
import warnings
warnings.filterwarnings('ignore')
import datetime

/usr/local/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df = acquire.wrangle_data()
df.head()

,endpoint,user_id,cohort_id,cohort_name,slack,start_date,end_date,program_id,program,module,lesson
datetime,,,,,,,,,,,
2018-01-26 09:55:03,/,1,8.0,Hampton,#hampton,2015-09-22 00:00:00,2016-02-06 00:00:00,1,Full Stack PHP,None,None
2018-01-26 09:56:02,java-ii,1,8.0,Hampton,#hampton,2015-09-22 00:00:00,2016-02-06 00:00:00,1,Full Stack PHP,java-ii,None
2018-01-26 09:56:05,java-ii/object-oriented-programming,1,8.0,Hampton,#hampton,2015-09-22 00:00:00,2016-02-06 00:00:00,1,Full Stack PHP,java-ii,object-oriented-programming
2018-01-26 09:56:06,slides/object_oriented_programming,1,8.0,Hampton,#hampton,2015-09-22 00:00:00,2016-02-06 00:00:00,1,Full Stack PHP,slides,object_oriented_programming
2018-01-26 09:56:24,javascript-i/conditionals,2,22.0,Teddy,#teddy,2018-01-08 00:00:00,2018-05-17 00:00:00,2,Full Stack Java,javascript-i,conditionals

In [ ]:
df.shape

# 3. Are there students who, when active, hardly access the curriculum? If so, what information do you have about these students?

In [3]:
def filter_students(df):
    
    # remove staff by cohort name
    std = df.where(df['cohort_name'] != 'Staff').dropna()
    
    # create mask to filter amount of times accessed to 10 or below
    mask = std['user_id'].value_counts()
    std10less = std[std['user_id'].isin(mask.index[mask<11])]
    
    # create mask to filter by times accessed when students were active
    std10less['date_mask'] = std10less.index >= pd.Timestamp('2019-11-04')
    std_final = std10less.mask(std10less['date_mask'] == False).dropna()
    
    # send it
    return std_final

# Takeaways at bottom; The rest is fluff and spaghetti

In [4]:
# remove staff from DF, only looking for students
std = df.where(df['cohort_name'] != 'Staff').dropna()

In [ ]:
std = std.dropna()

In [ ]:
std.head()

In [ ]:
df.shape

In [ ]:
std.isnull().nunique()

In [ ]:
df.isnull().nunique()

In [ ]:
std.shape

In [ ]:
std.user_id.value_counts()

In [ ]:
std2 = std2.dropna()

In [ ]:
std2.head()

In [ ]:
id_df = pd.DataFrame(std.user_id.value_counts(dropna=False)).reset_index().\
                rename(columns={'index': 'user_id', 'user_id': 'count'})

In [ ]:
id_df.head()

In [ ]:
id_df2 = pd.DataFrame((df.user_id.value_counts(dropna=False))/df.user_id.count()).reset_index().\
                rename(columns={'index': 'user_id', 'user_id': 'proba'})
id_df2.head()

In [ ]:
id_df = id_df.merge(id_df2, on='user_id')
id_df.head()

In [ ]:
id_df.set_index('user_id')['count'].sort_values()

In [ ]:
id_df.set_index('user_id')['count'].sort_values().tail(5).plot.barh(figsize=(5,5))

In [ ]:
id_df.set_index('user_id')['count'].sort_values().plot.barh(figsize=(5,5))

In [ ]:
dtale.show(std)

In [ ]:
# create a boolean mask to filter students who accessed the curiculum under 
# 10 times
mask = std['user_id'].value_counts()
std10less = std[std['user_id'].isin(mask.index[mask<11])]

In [ ]:
std10less.head(211)

In [ ]:
std.head()

In [ ]:
std10less.shape

In [ ]:
stdgrp = std10less.groupby(by= 'user_id', axis=0)

In [ ]:
stdgrp.user_id.value_counts()

In [ ]:
stdgrp.head()

In [ ]:
stdgrp.program.value_counts()

In [ ]:
std10less['date_mask'] = std10less.index >= pd.Timestamp('2019-11-04')

In [ ]:
std_final = std10less.mask(std10less['date_mask'] == False).dropna()

In [ ]:
std_final.head(31)

In [ ]:
std_final.user_id.value_counts()

In [ ]:
std_final.program.value_counts()

In [ ]:
def filter_students(df):
    
    # remove staff by cohort name
    std = df.where(df['cohort_name'] != 'Staff').dropna()
    
    # create mask to filter amount of times accessed to 10 or below
    mask = std['user_id'].value_counts()
    std10less = std[std['user_id'].isin(mask.index[mask<11])]
    
    # create mask to filter by times accessed when students were active
    std10less['date_mask'] = std10less.index >= pd.Timestamp('2019-11-04')
    std_final = std10less.mask(std10less['date_mask'] == False).dropna()
    
    # send it
    return std_final

In [5]:
students = filter_students(df)

In [6]:
students.head()

,endpoint,user_id,cohort_id,cohort_name,slack,start_date,end_date,program_id,program,module,lesson,date_mask
datetime,,,,,,,,,,,,
2019-11-04 16:54:38,html-css/introduction,539.0,52.0,Europa,#europa,2019-11-04 00:00:00,2020-04-17 00:00:00,2.0,Full Stack Java,html-css,introduction,True
2019-11-04 16:54:45,html-css/elements,539.0,52.0,Europa,#europa,2019-11-04 00:00:00,2020-04-17 00:00:00,2.0,Full Stack Java,html-css,elements,True
2020-01-14 16:02:54,html-css/introduction,572.0,53.0,Fortuna,#fortuna,2020-01-13 00:00:00,2020-06-23 00:00:00,2.0,Full Stack Java,html-css,introduction,True
2020-07-13 14:39:21,13-advanced-topics/1-tidy-data,679.0,59.0,Darden,#darden,2020-07-13 00:00:00,2021-01-12 00:00:00,3.0,Data Science,13-advanced-topics,1-tidy-data,True
2020-07-13 14:39:36,1-fundamentals/1.1-intro-to-data-science,679.0,59.0,Darden,#darden,2020-07-13 00:00:00,2021-01-12 00:00:00,3.0,Data Science,1-fundamentals,1.1-intro-to-data-science,True

In [ ]:
students.user_id.value_counts()

In [ ]:
students.cohort_name.value_counts()

In [ ]:
students.program.value_counts()

In [ ]:
students.module.value_counts()

# Takeaways:
   - 6 students respectively accessed the data less than 10 times while enrolled at codeup
       - of those 6 students: - 
           - 1 was enrolled in Data Science
           - 5 were enrolled in Full Stack Java
       - the Data Science student accessed the curriculum 10 times
       - the FS JAVA accessed the curriculum 20 times, with a median of 3
   - the least accessed modules were: 
       - Data Science; advanced topics 
       - FS JAVA; appendix

# 4. Is there any suspicious activity, such as users/machines/etc accessing the curriculum who shouldnâ€™t be? 



## Does it appear that any web-scraping is happening? 

## Are there any suspicious IP addresses?

In [ ]:
df.head()