In [1]:
import numpy as np
import pandas as pd

import acquire

In [2]:
df = acquire.wrangle_data()

In [3]:
df.head()

,endpoint,user_id,cohort_id,cohort_name,slack,start_date,end_date,program_id,program,module,lesson
datetime,,,,,,,,,,,
2018-01-26 09:55:03,/,1,8.0,Hampton,#hampton,2015-09-22 00:00:00,2016-02-06 00:00:00,1,Full Stack PHP,None,None
2018-01-26 09:56:02,java-ii,1,8.0,Hampton,#hampton,2015-09-22 00:00:00,2016-02-06 00:00:00,1,Full Stack PHP,java-ii,None
2018-01-26 09:56:05,java-ii/object-oriented-programming,1,8.0,Hampton,#hampton,2015-09-22 00:00:00,2016-02-06 00:00:00,1,Full Stack PHP,java-ii,object-oriented-programming
2018-01-26 09:56:06,slides/object_oriented_programming,1,8.0,Hampton,#hampton,2015-09-22 00:00:00,2016-02-06 00:00:00,1,Full Stack PHP,slides,object_oriented_programming
2018-01-26 09:56:24,javascript-i/conditionals,2,22.0,Teddy,#teddy,2018-01-08 00:00:00,2018-05-17 00:00:00,2,Full Stack Java,javascript-i,conditionals

## Question

At some point in 2019, the ability for students and alumni to access both curriculums (web dev to ds, ds to web dev) should have been shut off. Do you see any evidence of that happening? Did it happen before?

### Determining curriculum belonging

In [4]:
df.endpoint.value_counts()

/                                                               45854
javascript-i                                                    18203
toc                                                             17591
search/search_index.json                                        17534
java-iii                                                        13166
                                                                ...
content/examples/javascript/primitive-types.html                    1
content/examples/javascript/conditionals.html                       1
2-storytelling/1-overview/www.qlik.com                              1
syntax-types-and-variables                                          1
appendix/professional-development/post-interview-review-form        1
Name: endpoint, Length: 2224, dtype: int64

In [9]:
df['module'] = None

In [12]:
trimmed = df[df.endpoint != '/']

In [22]:
module=  trimmed.endpoint.apply(lambda x: x.split('/')[0])
module.values

array(['java-ii', 'java-ii', 'slides', ..., 'jquery', 'anomaly-detection',
       'jquery'], dtype=object)

In [33]:
df.loc[df.endpoint != '/', 'resource']= module

In [34]:
df.head()

,endpoint,user_id,cohort_id,cohort_name,slack,start_date,end_date,program_id,program,resource,lesson
datetime,,,,,,,,,,,
2018-01-26 09:55:03,/,1,8.0,Hampton,#hampton,2015-09-22,2016-02-06,1,Full Stack PHP,None,
2018-01-26 09:56:02,java-ii,1,8.0,Hampton,#hampton,2015-09-22,2016-02-06,1,Full Stack PHP,java-ii,None
2018-01-26 09:56:05,java-ii/object-oriented-programming,1,8.0,Hampton,#hampton,2015-09-22,2016-02-06,1,Full Stack PHP,java-ii,object-oriented-programming
2018-01-26 09:56:06,slides/object_oriented_programming,1,8.0,Hampton,#hampton,2015-09-22,2016-02-06,1,Full Stack PHP,slides,object_oriented_programming
2018-01-26 09:56:24,javascript-i/conditionals,2,22.0,Teddy,#teddy,2018-01-08,2018-05-17,2,Full Stack Java,javascript-i,conditionals

In [27]:
def get_lesson(string):
    arr = string.split('/')
    if len(arr) > 1:
        return arr[1]
    else:
        return None

In [28]:
df['lesson'] = df.endpoint.apply(get_lesson)

In [29]:
df.head()

,endpoint,user_id,cohort_id,cohort_name,slack,start_date,end_date,program_id,program,resource,lesson
datetime,,,,,,,,,,,
2018-01-26 09:55:03,/,1,8.0,Hampton,#hampton,2015-09-22,2016-02-06,1,Full Stack PHP,None,
2018-01-26 09:56:02,java-ii,1,8.0,Hampton,#hampton,2015-09-22,2016-02-06,1,Full Stack PHP,java-ii,None
2018-01-26 09:56:05,java-ii/object-oriented-programming,1,8.0,Hampton,#hampton,2015-09-22,2016-02-06,1,Full Stack PHP,java-ii,object-oriented-programming
2018-01-26 09:56:06,slides/object_oriented_programming,1,8.0,Hampton,#hampton,2015-09-22,2016-02-06,1,Full Stack PHP,slides,object_oriented_programming
2018-01-26 09:56:24,javascript-i/conditionals,2,22.0,Teddy,#teddy,2018-01-08,2018-05-17,2,Full Stack Java,javascript-i,conditionals

In [30]:
df.lesson.value_counts()

                    45912
introduction        37414
fundamentals        34410
css-i               31590
css-ii              20260
                    ...
jpa                     1
formmodelbinding        1
form                    1
java-iii                1
explore-old             1
Name: lesson, Length: 669, dtype: int64

In [31]:
df[df.lesson == 'java-iii']

,endpoint,user_id,cohort_id,cohort_name,slack,start_date,end_date,program_id,program,resource,lesson
datetime,,,,,,,,,,,
2020-06-15 09:36:50,mysql/java-iii,495,51.0,Deimos,#deimos,2019-09-16,2020-02-27,2,Full Stack Java,mysql,java-iii

In [36]:
df.endpoint.apply(get_module)

datetime
2018-01-26 09:55:03
2018-01-26 09:56:02              java-ii
2018-01-26 09:56:05              java-ii
2018-01-26 09:56:06               slides
2018-01-26 09:56:24         javascript-i
                             ...
2021-04-21 16:41:51               jquery
2021-04-21 16:42:02               jquery
2021-04-21 16:42:09               jquery
2021-04-21 16:44:37    anomaly-detection
2021-04-21 16:44:39               jquery
Name: endpoint, Length: 847329, dtype: object

In [37]:
def get_lesson(string):
    arr = string.split('/')
    if len(arr) > 1:
        return arr[1]
    else:
        return None

def get_module(string):
    arr = string.split('/')
    return arr[0]

def parse_module_lesson(df):
    df['module'] = df.endpoint.apply(get_module)
    df['lesson'] = df.endpoint.apply(get_lesson)
    df = df.replace({'':None})
    return df

In [38]:
df = acquire.wrangle_data()

In [40]:
parse_module_lesson(df)

,endpoint,user_id,cohort_id,cohort_name,slack,start_date,end_date,program_id,program,module,lesson
datetime,,,,,,,,,,,
2018-01-26 09:55:03,/,1,8.0,Hampton,#hampton,2015-09-22 00:00:00,2016-02-06 00:00:00,1,Full Stack PHP,None,None
2018-01-26 09:56:02,java-ii,1,8.0,Hampton,#hampton,2015-09-22 00:00:00,2016-02-06 00:00:00,1,Full Stack PHP,java-ii,None
2018-01-26 09:56:05,java-ii/object-oriented-programming,1,8.0,Hampton,#hampton,2015-09-22 00:00:00,2016-02-06 00:00:00,1,Full Stack PHP,java-ii,object-oriented-programming
2018-01-26 09:56:06,slides/object_oriented_programming,1,8.0,Hampton,#hampton,2015-09-22 00:00:00,2016-02-06 00:00:00,1,Full Stack PHP,slides,object_oriented_programming
2018-01-26 09:56:24,javascript-i/conditionals,2,22.0,Teddy,#teddy,2018-01-08 00:00:00,2018-05-17 00:00:00,2,Full Stack Java,javascript-i,conditionals
...,...,...,...,...,...,...,...,...,...,...,...
2021-04-21 16:41:51,jquery/personal-site,64,28.0,Staff,#,2014-02-04 00:00:00,2014-02-04 00:00:00,2,Full Stack Java,jquery,personal-site
2021-04-21 16:42:02,jquery/mapbox-api,64,28.0,Staff,#,2014-02-04 00:00:00,2014-02-04 00:00:00,2,Full Stack Java,jquery,mapbox-api
2021-04-21 16:42:09,jquery/ajax/weather-map,64,28.0,Staff,#,2014-02-04 00:00:00,2014-02-04 00:00:00,2,Full Stack Java,jquery,ajax
2021-04-21 16:44:37,anomaly-detection/discrete-probabilistic-methods,744,28.0,Staff,#,2014-02-04 00:00:00,2014-02-04 00:00:00,2,Full Stack Java,anomaly-detection,discrete-probabilistic-methods
2021-04-21 16:44:39,jquery/mapbox-api,64,28.0,Staff,#,2014-02-04 00:00:00,2014-02-04 00:00:00,2,Full Stack Java,jquery,mapbox-api